
.App{
    text-align: center;
   
    padding: 10px 20px;
  
  }
  .button2{

    background-color: rgb(203, 34, 34);
    margin: 10px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    font-size: 1rem;
    
  }
  .button1{
  
    background-color: green;
    margin: 10px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    
  }
  .a{
    text-align: center;
    text-decoration:double;
    color: black;
  }